/* Add your own CSS code below */
@media (min-width: 769px) {
  .countries {
    column-count: 2;
    column-gap: 20px;
  }
}
@media (min-width: 1201px) {
  .countries {
    column-count: 3;
    column-gap: 20px;
  }
}
