/* Try different box model properties below */
.pages__page {
  border: 1px solid #df1e1e;
  border-radius: 4px;
  background: #fff;
  margin: trim 2px;
}
.country {
  border: 1px solid #faf7f7;
  margin: 4px;
}
