/* Add your own CSS code below */
@media (min-width: 992px) {
  .hero__image {
    font-size: 2.5rem; /* Adjust the font size as needed */
  }
}
.main-nav__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
}

.main-nav__list-item {
  margin-right: 20px;
}

.main-nav__list-item:last-child {
  margin-right: 0;
}
@media (min-width: 768px) {
  .site-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .site-header__title {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }

  .main-nav {
    flex: 1;
    text-align: center;
    margin-right: 20px;
  }

  .site-search {
    flex: 1;
    text-align: center;
  }
}
@media (min-width: 768px) {
  .views {
    display: flex;
    align-items: center;
    margin: 20;
    padding: 0;
    list-style: none;
    justify-content: space-between;
  }
  .views {
    display: flex;
  }

  .view-list__item {
    margin-right: 20px;
    justify-content: space-between;
  }

  .views__all {
    margin-left: auto;
  }
}
.main-article {
  max-width: 50em;
  line-height: 1.6;
}
.site-content {
  display: flex;
  justify-content: center;
}
